

<!-- courses -->
<section id = "courses">
      
    <div class = "course-row">
        <div class="course-left-col">
            <div class="course-text">
                <h4 style="font-weight: 800px;">Find Ageing <br> Sign</h4><br>
                <p class="lead">
                  100% Automatically and <span class="font-weight-bold position-relative d-inline-block">Fast
                      </span>
                </p>
                <img src = "images/man.png">
            </div>
        </div>
         <a href="/upload" style="text-decoration: none;">
        <div class="course-right-col" style="padding :20px;">
                  <div class = "image-upload">
                      <div class = "image-box">
                          <div data-v-4e85f282="" class="mt-5 mb-4 d-none d-md-block">
                              <svg data-v-4e85f282="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 16" height="14mm" width="22mm"><path data-v-4e85f282="" 
                                  d="M.787 6.411l10.012 5.222a.437.437 0 0 0 .402 0l10.01-5.222a.434.434 0 0 0 .186-.585.45.45 0 0 0-.186-.187L11.2.417a.441.441 0 0 0-.404 0L.787 5.639a.439.439 0 0 0-.184.588.453.453 0 0 0 .184.184z" 
                                  fill="#DDDFE1"></path><path data-v-4e85f282="" d="M21.21 9.589l-1.655-.864-7.953 4.148a1.31 1.31 0 0 1-1.202 0L2.444 8.725l-1.657.864a.437.437 0 0 0-.184.583.427.427 0 0 0 .184.187l10.012 
                                  5.224a.437.437 0 0 0 .402 0l10.01-5.224a.434.434 0 0 0 .186-.586.444.444 0 0 0-.186-.184z" fill="#EDEFF0"></path></svg></div>
                          
                          <p style="font-size: 15px; color: black;">DROP IMAGE HERE</p>
                      </div>
                      
                      <div class = "buttons"> 
                      <button type="button" class="btn btn-primary"> <i class="fas fa-upload"></i> Upload Image / Drop a file</button> <br><br>
                      
                      <button type="button" class="btn btn-primary">Take Photo</button>
                      </div>
                  </div>
        </div>
        </a>
    </div>
           
</section>

<!-- home-section -->
<section class="home-section"> <br> <br> <br>
    <div class="container">
      <div class="row">
        <div class="col-md">
          <div class="row">
            <div class="col-2 d-lg-none"></div>
            <div class="col-8 col-lg-12">
              <img class="img-fluid mb-4 mb-md-0 mx-auto d-block"
             src="https://static.remove.bg/remove-bg-web/a72f919da581145bc8a52ac0c5d21f5c4741f367/assets/5seconds-07fbda9d29649bdbd60b4068d9cdd40d3924c06ee4c778ba2744f788431bf324.svg">
            </div>
          </div>
        </div>
        <div class="col-md">
          <h2>
            Get Your Age Signing 100% Automatically in 5sec with powerful AI
          </h2>
          <div class="lead">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
    </div>

    <br><br><br> 
     </section>
<!-- Example Section -->
  
<section id = "example-section">
    <br><br><br>

     <div class = "example-row" >
      <h4>Perfect Predictions</h4> <br>

      <div class = "box">
        <div class = "example-left-col"> 
          <img src="images/ritik.png" >
        </div>
        
        <div class = "example-right-col"> 
          <!-- <form> -->
          
            <div class="factor">
            <label for="Factor-one">Factor-1: </label> &nbsp; &nbsp;
            <input type="text" value="wrinkles">
            </div>
              <div class="factor">
             <label for="Factor-two">Factor-2: </label> &nbsp; &nbsp;
             <input type="text" value="wrinkles">
            </div>
              
              <div class="factor">
            <label for="Factor-three">Factor-3: </label> &nbsp; &nbsp;
            <input type="text" value="wrinkles">
                </div>

              <div class="factor">
            <label for="Factor-four">Factor-4: </label> &nbsp; &nbsp;
            <input type="text" value="wrinkles">
              
              </div>

        <!-- </form> -->

        </div>

      </div>
     </div>
     
    <br><br><br>
     
   </section>